@use "@angular/material" as mat;

table {
  @include mat.table-overrides(
    (
      row-item-outline-width: 0.2px,
    )
  );
}

.transaction-panel {
  margin: 10px 0;
}

.merge-panel {
  display: flex;
  > button {
    margin: 0 2px;
  }
}
.transaction-item-panel .mat-expansion-panel-header-description {
  justify-content: end;
  align-items: center;
}

.highlight-merge-panel {
  background: #cacaca;
  border-radius: 10px;
  padding: 5px;
}

.merge-description {
  display: flex;
  align-items: center;
  font-weight: 800;
  color: blue;
  margin: 0 10px;
}

.filters-right {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  background: #dadada;
  padding: 5px;
  border-radius: 10px;
}

.transaction-panel-container {
  height: calc(100vh - 230px);
  overflow: auto;
  padding: 0 5px;
}

.filters-right > .edit-panel {
  display: flex;
  > button {
    margin: 0 2px;
  }
}

.filters-right > .info-panel {
  display: flex;
  align-items: center;
}

.filters-right > .info-panel > mat-chip {
  background: #9bddf8;
}

.annual-total-chip {
  margin-right: 5px;
}
.filter-chip {
  background-color: #b1d8b7 !important;
}

.category-text {
  font-weight: bold;
}

.subcategory-text {
  font-size: 12px;
}

.no-records-message {
  text-align: center;
  font-weight: 800;
  font-size: 14px;
}
