@use "@angular/material" as mat;

mat-expansion-panel {
  @include mat.expansion-overrides((
    header-text-weight: 500,
    header-text-size: 14px,
  ));
}

mat-menu > mat-icon {
  color: #659fdf;
}

mat-icon.note-icon {
  color: #81b7f4;
}

.transaction-panel {
  margin: 10px 0;
}

.merge-panel {
  display: flex;
  > button {
    margin: 0 2px;
  }
}
.transaction-item-panel .mat-expansion-panel-header-description {
  justify-content: end;
  align-items: center;
}

.highlight-merge-panel {
  background: #cacaca;
  border-radius: 10px;
  padding: 5px;
}

.merge-description {
  display: flex;
  align-items: center;
  font-weight: 800;
  color: blue;
  margin: 0 10px;
}

.filters-right {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 5px 0;
  background: #dadada;
  padding: 5px;
  border-radius: 10px;
}

.transaction-panel-container {
  height: calc(100vh - 230px);
  overflow: auto;
  padding: 0 5px;
}

.filters-right > .edit-panel {
  display: flex;
  > button {
    margin: 0 2px;
  }
}

.filters-right > .info-panel {
  display: flex;
  align-items: center;
}

.filters-right > .info-panel > mat-chip {
  background: #9bddf8;
}

.annual-total-chip {
  margin-right: 5px;
}
.filter-chip {
  background-color: #84d591 !important;
}

.category-text {
  font-weight: bold;
}

.subcategory-text {
  font-size: 12px;
}
