<h2 mat-dialog-title>
  <span>{{data.payee.destination}}</span>
</h2>
<mat-dialog-content>
  <form [formGroup]="payeeForm">
    <table class="expense-field-table">
      <tr>
        <td>
          <mat-form-field appearance="outline" class="payee-input">
            <mat-label>Payee</mat-label>
            <input
              matInput
              readonly
              placeholder="Payee"
              formControlName="destination_or"

            />
          </mat-form-field>
        </td>
        <td colspan="2">
          <mat-form-field appearance="outline" class="payee-input">
            <mat-label>Payee Rename to</mat-label>
            <input
              matInput
              placeholder="Payee"
              formControlName="destination"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="outline" class="payee-input">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              @for (exc of TRANSACTION_CATEGORIES; track exc) {
                <mat-option [value]="exc.value">{{
                    exc.viewValue
                  }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="fill payee-input">
            <mat-label>Sub Category</mat-label>
            <mat-select formControlName="subcategory">
              @for (exc of EXPENSE_SUB_CATEGORIES; track exc) {
                <mat-option [value]="exc.value">{{
                    exc.viewValue
                  }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="payee-input">
            <mat-label>Payee Alias (English)</mat-label>
            <input
              matInput
              placeholder="Destination"
              formControlName="destination_eng"
            />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
  <mat-divider></mat-divider>
  <div class="payee-rules">
    <div class="rule-title">
      <span>If Payee name contains below keywords, map to {{payeeForm.get('destination')?.value}}. (Current and Future transactions)</span>
    </div>
    <mat-form-field class="keyword-chip-list">
      <mat-label>Keywords</mat-label>
      <mat-chip-grid #chipGrid aria-label="Enter fruits">
        @for (akaChip of keywords; track akaChip) {
          <mat-chip-row
            (removed)="remove(akaChip)"
            [editable]="true"
            (edited)="edit(akaChip, $event)"
            [aria-description]="'press enter to edit ' + akaChip"
          >
            {{akaChip}}
            <button matChipRemove [attr.aria-label]="'remove ' + akaChip">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
        <input
          placeholder="New keyword..."
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-grid>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="expense-form-footer">
  <button mat-raised-button mat-dialog-close (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()">Save</button>
</mat-dialog-actions>
