.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
  
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.monthly-income-panel {
  margin-bottom: 5px;
}
