.step-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  padding: 10px;
}
.step-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.import-section {
  display: flex;
}

.step-actions > button {
  margin-right: 5px;
}

mat-form-field,
mat-card {
  width: 500px;
}

.import-title {
  margin: 0;
  font-size: 16px;
}

.upload-section {
  background: #fff;
  border: 2px solid #e1e4e8;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 480px;
  margin-bottom: 10px;
}

.upload-box {
  border: 2px dashed #a0aec0;
  border-radius: 10px;
  padding: 30px;
  background-color: #f9fafb;
  margin-top: 20px;
  cursor: pointer;
}

.upload-label {
  display: block;
  color: #718096;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.file-input {
  display: none;
}

.right-icon {
  margin-left: auto;
}

.callout-panel {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #428f42;
}
.success-class {
  color: #8ee48e;
}

.importing-steps {
  display: flex;
  flex-direction: column;
  > .step {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    > div {
      margin: 0 5px;
    }
  }
}

.delete-icon {
  cursor: pointer;
  padding: 3px;
  border: 1px solid #4939e0;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 5px;
}
