mat-dialog-content {
  width: 800px;
}
.filter-section {
  height: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: row;
}

.main-category-section {
  width: 150px;
  border-right: 1px solid #d5cbcb;
}

.subcategory-section {
  border-left: 1px solid #d5cbcb;
}

.option-list {
  margin: 0 5px;
}

.list-item-actions {
  display: flex;
  align-items: center;
}

.item-text {
  cursor: pointer;
}

.category-title,
.subcategory-title {
  text-align: center;
  font-weight: 600;
}
