.split-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%;
  margin-top: 5px;
}

.split-input {
  width: 100%;
  font-size: 14px;
}

.filter-item {
  padding: 1px;
  margin: 0 5px;
  border: 1px solid #999898;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
