<h2 mat-dialog-title>
  Split Transaction
  <span>({{ data.formData.id }})</span>
</h2>
<mat-dialog-content>
  <form [formGroup]="splitForm">
    <h3>Transaction Information</h3>
    <ul>
      <li>Date: {{ transaction.date | date: "MMMM d, y" }}</li>
      <li>Payee: {{ transaction.destination }}</li>
      <li>
        Amount: ¥{{ transactionAmount() | number: "1.2-2" }}
        <span *ngIf="splitTotal() > 0"
          >(New Amount: ¥{{ remainAmount() | number: "1.2-2" }})</span
        >
      </li>
      <li>Split Total: ¥{{ splitTotal() | number: "1.2-2" }}</li>
    </ul>
    <mat-divider></mat-divider>
    <div class="split-header">
      <div class="split-title">
        <h3>Add Splits</h3>
      </div>
      <div class="split-actions">
        <button mat-raised-button color="primary" (click)="onAddSplit()">
          Add Split
        </button>
      </div>
    </div>
    <table>
      <ng-container formArrayName="splits">
        @for (data of splits; track data; let i = $index) {
          <tr [formGroupName]="i">
            <td colspan="2">
              <mat-form-field appearance="outline" class="split-input">
                <mat-label>Payee</mat-label>
                <input
                  type="text"
                  placeholder="Payee Name"
                  aria-label="Number"
                  matInput
                  formControlName="destination"
                  [matAutocomplete]="auto"
                />

                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  @for (option of filteredPayees[i] | async; track option) {
                    <mat-option [value]="option.destination">{{
                      option.destination
                    }}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="split-input">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                  @for (exc of this.TRANSACTION_CATEGORIES; track exc) {
                    <mat-option [value]="exc.id"
                      >{{ exc.category }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="split-input">
                <mat-label>Amount</mat-label>
                <input matInput placeholder="Amount" formControlName="amount" />
                <span matTextPrefix>¥&nbsp;</span>
              </mat-form-field>
            </td>
            <td>
              <div class="filter-item" (click)="removeSplit(i)">
                <fa-icon
                  [icon]="faTrash"
                  size="xl"
                  [style]="{ color: '#af5252' }"
                ></fa-icon>
              </div>
            </td>
          </tr>
        }
      </ng-container>
    </table>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close (click)="cancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    [disabled]="splitForm.invalid || splits.length == 0"
  >
    Split
  </button>
</mat-dialog-actions>
