.split-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}

table {
  width: 100%;
  margin-top: 5px;
}

.split-input {
  width: 100%;
  font-size: 14px;
}

.title-text {
  font-size: 16px;
  font-weight: 600;
}
