<h2 mat-dialog-title>
  <span>{{ data.payee.destination }}</span>
</h2>
<mat-dialog-content>
  <form [formGroup]="payeeForm">
    <table class="expense-field-table">
      <th></th>
      <tr>
        <td>
          <mat-form-field appearance="outline" class="payee-input">
            <mat-label>Payee</mat-label>
            <input
              formControlName="destination_original"
              matInput
              placeholder="Payee"
              readonly
            />
          </mat-form-field>
        </td>
        <td colspan="2">
          <mat-form-field appearance="outline" class="payee-input">
            <mat-label>Payee Rename to</mat-label>
            <input formControlName="destination" matInput placeholder="Payee"/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="outline" class="payee-input">
            <mat-label>Transaction Type</mat-label>
            <mat-select formControlName="category_type">
              @for (exc of TRANSACTION_TYPES; track exc) {
                <mat-option [value]="exc.value">
                  {{ exc.viewValue }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="payee-input">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              @for (exc of this.transactionCategories; track exc) {
                <mat-option [value]="exc.id">{{ exc.category }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="fill payee-input">
            <mat-label>Sub Category</mat-label>
            <mat-select formControlName="subcategory">
              @for (exc of this.transactionSubCategories; track exc) {
                <mat-option [value]="exc.id">{{ exc.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <mat-form-field appearance="outline" class="payee-input">
            <mat-label>Payee Alias (English)</mat-label>
            <input
              formControlName="destination_eng"
              matInput
              placeholder="Destination"
            />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
  <mat-divider></mat-divider>
  <div class="payee-rules">
    <div class="rule-title">
      <span
      >If Payee name contains below keywords, map to
        {{ payeeForm.get("destination")?.value }}. (Current and Future
        transactions)</span
      >
    </div>
    <mat-form-field class="keyword-chip-list">
      <mat-label>Keywords</mat-label>
      <mat-chip-grid #chipGrid aria-label="Enter fruits">
        @for (akaChip of keywords; track akaChip) {
          <mat-chip-row
            (removed)="remove(akaChip)"
            [editable]="true"
            (edited)="edit(akaChip, $event)"
            [aria-description]="'press enter to edit ' + akaChip"
          >
            {{ akaChip }}
            <button matChipRemove [attr.aria-label]="'remove ' + akaChip">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        }
        <input
          (matChipInputTokenEnd)="add($event)"
          [matChipInputAddOnBlur]="addOnBlur"
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          placeholder="New keyword..."
        />
      </mat-chip-grid>
    </mat-form-field>
  </div>
  <div *ngIf="dataSource.data.length > 0" class="related-payees">
    <mat-divider></mat-divider>
    <div class="related-payees-header">
      <h3>
        Found similar payees for above keywords. Do you want to merge them all?
      </h3>
    </div>
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox
            (change)="$event ? selection.toggle(row) : null"
            (click)="$event.stopPropagation()"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="Payee">
        <th *matHeaderCellDef mat-header-cell>Payee</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.destination_original }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Category">
        <th *matHeaderCellDef mat-header-cell>Category</th>
        <td *matCellDef="let element" mat-cell>{{ element.category_text }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="SubCategory">
        <th *matHeaderCellDef mat-header-cell>Sub Category</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.subcategory_text }}
        </td>
      </ng-container>
      <tr *matNoDataRow class="mat-row">
        <td [attr.colspan]="displayedColumns.length" class="mat-cell">
          No matching/duplicate payees.
        </td>
      </tr>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="expense-form-footer">
  <button (click)="cancel()" mat-dialog-close mat-raised-button>Cancel</button>
  <button (click)="submit()" color="primary" mat-raised-button>Save</button>
</mat-dialog-actions>
