<h2 mat-dialog-title>{{ data.holdingData.company_name }}  ({{ data.symbol }})</h2>
<mat-dialog-content>
  <mat-grid-list [gutterSize]="'5px'" cols="3" rowHeight="80px">
    <mat-grid-tile>
      <mat-card class="detail-card">
        <mat-card-content>
          <div class="company-details">
            <div class="company-image">
              <img alt="" class="ticker-image" src="{{data.holdingData.image}}">
            </div>
            <div class="price-info">
              <div class="price-title">
                <span>Current Value</span>
              </div>
              <div class="price-value">
                {{ data.holdingData.stock_currency }}{{ data.holdingData.current_price | number: "1.2-2" }}
              </div>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="detail-card">
        <mat-card-content>
          <div class="company-details">
            <div class="price-info">
              <div class="price-title">
                <span>Average Purchase Value</span>
              </div>
              <div class="price-value">
                {{ data.holdingData.stock_currency }}{{ data.holdingData.average_price | number: "1.2-2" }}
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="detail-card">
        <mat-card-content>
          <div class="company-details">
            <div class="price-info">
              <div class="price-title">
                <span>Profit/Loss</span>
              </div>
              <div [ngClass]="{'profit': data.holdingData.profit_loss >= 0, 'loss': data.holdingData.profit_loss < 0}"
                   class="price-value">
                {{ data.holdingData.stock_currency }}{{ data.holdingData.profit_loss | number: "1.2-2" }}
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="stock-price-history-chart">
    <app-chartbox
      (rendered)="childRendered()"
      [chartData]="dailyPrice"
      [chartOptions]="dailyPriceOptions"
      [chartType]="dailyPriceChartType"
    ></app-chartbox>
  </div>
  <div class="purchase-history-table">
    <table [dataSource]="dataSource" class="mat-elevation-z8 portfolio-table" mat-table matSort>
      <ng-container matColumnDef="Date">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Date</th>
        <td *matCellDef="let element" mat-cell> {{ element.purchase_date }}</td>
      </ng-container>
      <ng-container matColumnDef="Shares">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Shares</th>
        <td *matCellDef="let element" mat-cell> {{ element.quantity }}</td>
      </ng-container>
      <ng-container matColumnDef="TotalPurchase">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Purchase Price</th>
        <td *matCellDef="let element"
            mat-cell> {{ element.stock_currency }}{{ element.purchase_price | number: "1.2-2" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="PurchasePrice">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Total Purchase</th>
        <td *matCellDef="let element"
            mat-cell> {{ element.stock_currency }}{{ element.purchase_price * element.quantity | number: "1.2-2" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="CurrentValue">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Current value</th>
        <td *matCellDef="let element"
            mat-cell> {{ element.stock_currency }}{{ data.holdingData.current_price * element.quantity | number: "1.2-2" }}
        </td>
        -->
      </ng-container>
      <ng-container matColumnDef="Profit">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Profit</th>
        <td *matCellDef="let element" mat-cell>
          <div [ngClass]="{'profit': data.holdingData.current_price > element.purchase_price, 'loss': data.holdingData.current_price < element.purchase_price }"
               class="profit-loss">
            <span>{{ element.stock_currency }}{{ data.holdingData.current_price * element.quantity - element.purchase_price * element.quantity | number: "1.2-2" }} </span>
          </div>
          <!--        <div class="profit-loss-percentage" [ngClass]="{'profit': element.profit_loss >= 0, 'loss': element.profit_loss < 0}">-->
          <!--          <fa-icon [icon]="element.profit_change_percentage > 0 ? faCaretUp : faCaretDown"></fa-icon>-->
          <!--          {{ element.profit_change_percentage | number: "1.2-2" }} %-->
          <!--        </div>-->
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end" class="expense-form-footer">
  <button mat-dialog-close mat-raised-button>Close</button>
</mat-dialog-actions>
