.profit {
  color: green !important;
}

.loss {
  color: #f64e60 !important;
}

.company-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-image {
  margin-right: 10px;
}
.price-value {
  font-size: 20px;
  font-weight: 800;
  color: green;
  margin-left: 10px;
}

.price-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticker-image {
  width: 50px;
  height: 50px;
}

.detail-card {
  width: 100%;
  height: 100%;
  background: #dedede;
}

.purchase-history-table {
  margin-top: 20px;
}

.stock-price-history-chart {
  margin-top: 10px;
}
