<h2 mat-dialog-title>
  {{ data.settings ? data.settings.category.category : "Add Category" }}
</h2>
<mat-dialog-content>
  <form [formGroup]="categoryForm">
    <table class="expense-field-table">
      <tr>
        <td>
          <mat-form-field class="fill expense-input" appearance="outline">
            <mat-label>Category Name</mat-label>
            <input
              matInput
              placeholder="Category Name"
              formControlName="category"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="expense-input">
            <mat-label>Description</mat-label>
            <input
              matInput
              placeholder="Description"
              formControlName="description"
            />
          </mat-form-field>
        </td>
        <td>
          <div
            class="coincraft-action-button"
            (click)="deleteCategory()"
            matRipple
            matTooltip="Delete Category"
            matTooltipPosition="below"
          >
            <fa-icon
              [icon]="faTrash"
              size="lg"
              [style]="{ color: '#af5252' }"
            ></fa-icon>
          </div>
        </td>
      </tr>
    </table>
    <mat-divider></mat-divider>
    <div class="d-flex-align-sb">
      <div class="sub-category-title">
        <h3>Sub-Category settings</h3>
      </div>
      <div>
        <button mat-raised-button color="primary">Edit</button>
        <button mat-raised-button color="primary">Create</button>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Sub Category</th>
        <td mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">
          {{element.description}}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()">Save</button>
</mat-dialog-actions>
