<app-submenu></app-submenu>
<div class="transaction-content-container">
  <div class="data-card">
    <div class="data-filter-content">
<!--      <app-filter-menu [title]="'Category'" [items]="TRANSACTION_CATEGORIES" [selectedIds]="transactionCategory" (selectedItemsChange)="onSelectedItemsChange($event, 'category')"></app-filter-menu>-->
<!--      <app-filter-menu [title]="'Sub Category'" [items]="TRANSACTION_SUB_CATEGORIES" [selectedIds]="transactionSubCategory" (selectedItemsChange)="onSelectedItemsChange($event, 'subCategory')"></app-filter-menu>-->
<!--      <app-filter-menu [title]="'Payment method'" [items]="PAYMENT_METHODS" [selectedIds]="paymentMethod" (selectedItemsChange)="onSelectedItemsChange($event, 'paymentMethod')"></app-filter-menu>-->
<!--      <app-filter-menu [title]="'Year'" [items]="YEARS" [selectedIds]="dataYear" (selectedItemsChange)="onSelectedItemsChange($event, 'year')"></app-filter-menu>-->
<!--      <app-filter-menu [title]="'Month'" [items]="MONTHS" [selectedIds]="dataMonth" (selectedItemsChange)="onSelectedItemsChange($event, 'month')"></app-filter-menu>-->
    </div>
    <div class="data-card-content">
      <div class="chart-boxes">
        <div class="chart-box-row">
          <div class="chart-box">
          <app-pf-bar-chart [data]="barChartData" [options]="barChartOptionsMonthly"></app-pf-bar-chart>
          </div>
          <div class="chart-box">
            <app-pf-bar-chart [data]="pieChartData" [options]="barChartOptionsCategory"></app-pf-bar-chart>
          </div>
        </div>
        <div class="chart-box-row">
          <div class="chart-box">
            <app-pf-pie-chart [data]="pieChartData" [options]="barChartOptionsCategory"></app-pf-pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


