.chart-boxes {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.chart-box-row {
  display: flex;
  justify-content: space-around;
}


.analytics-area {
  display: flex;
}


