.data-card-content {
  margin: 0 1%;
  overflow: auto;
}
.toolbar-header {
  width: 100%;
  text-align: left;
  padding: 10px;
}

.toolbar-header > h2 {
  margin: 0;
}

.filters-right {
  width: 100%;
  margin: 0 10%;
}

