<loading></loading>
<div class="data-card-content">
  <mat-grid-list
    [gutterSize]="'5px'"
    class="filter-toolbar"
    cols="3"
    rowHeight="50px"
  >
    <mat-grid-tile>
      <div class="toolbar-header">
        <p>{{ title.getTitle() }}</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <div class="searchbar-wrapper">
        <app-searchbar></app-searchbar>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<nav mat-tab-nav-bar mat-stretch-tabs="false" [tabPanel]="tabPanel">
  @for (link of tabs; track link) {
    <a mat-tab-link
       [routerLink]="link.route"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{link.label}} </a>
  }
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
