<app-toolbar-menu [menuItems]="menuItems"></app-toolbar-menu>
<div class="data-card-content">
  <mat-grid-list
    [gutterSize]="'5px'"
    class="filter-toolbar"
    cols="3"
    rowHeight="50px"
  >
    <mat-grid-tile>
      <div class="toolbar-header">
        <h2>{{ title.getTitle() }}</h2>
      </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <div class="searchbar-wrapper">
        <app-searchbar></app-searchbar>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <router-outlet></router-outlet>
</div>
