<app-submenu></app-submenu>
<div class="dashboard-container">
  <div class="chart-row">
    <div class="monthly-total-expenses">
      <app-chartbox [chartData]="monthlyExpenses" [chartOptions]="monthlyExpensesOptions" [chartType]="monthlyExpensesChartType"></app-chartbox>
    </div>
    <div class="monthly-total-expenses">
      <app-chartbox [chartData]="monthlyIncome" [chartOptions]="monthlyIncomeOptions" [chartType]="monthlyIncomeChartType"></app-chartbox>
    </div>
    <div class="monthly-total-expenses">
      <app-chartbox [chartData]="monthlySavings" [chartOptions]="monthlySavingsOptions" [chartType]="monthlySavingsChartType"></app-chartbox>
    </div>
  </div>
  <div class="chart-row">
    <div class="monthly-total-expenses">
      <app-chartbox [chartData]="categoryWiseSum" [chartOptions]="categoryWiseSumOptions" [chartType]="categoryWiseSumChartType"></app-chartbox>
    </div>
    <div class="monthly-total-expenses">
      <app-chartbox [chartData]="categoryWiseSum" [chartOptions]="categoryWiseSumValueOptions" [chartType]="categoryWiseSumValueChartType"></app-chartbox>
    </div>
    <div class="monthly-total-expenses">
      <app-chartbox [chartData]="paymentMethodWiseSum" [chartOptions]="paymentMethodWiseSumOptions" [chartType]="paymentMethodWiseSumChartType"></app-chartbox>
    </div>
    <div class="monthly-total-expenses">
      <app-chartbox [chartData]="monthlyPayments" [chartOptions]="monthlyPaymentsOptions" [chartType]="monthlyPaymentsChartType"></app-chartbox>
    </div>
  </div>
</div>
