<h2 mat-dialog-title>Add Expense</h2>
<mat-dialog-content>
    <form [formGroup]="expenseForm">
        <table class="expense-field-table" cellspacing="0">
          <tr>
              <td>
                <mat-checkbox color="primary"  formControlName="update_similar">Update similar records</mat-checkbox>
              </td>
              <td>
                <mat-checkbox color="primary"  formControlName="is_payment">Add to Payments</mat-checkbox>
              </td>
              <td>
                <mat-checkbox color="primary"  formControlName="is_saving">Add to Savings</mat-checkbox>
              </td>
          </tr>

          <tr>
              <td>
                  <mat-form-field class="fill expense-input">
                      <mat-label>Payment Method</mat-label>
                          <mat-select formControlName="payment_method">
                            @for (pm of PAYMENT_METHODS; track pm) {
                              <mat-option [value]="pm.value">{{pm.viewValue}}</mat-option>
                            }
                          </mat-select>
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field appearance="fill" class="fill expense-input">
                          <mat-label>Category</mat-label>
                              <mat-select formControlName="category">
                                @for (exc of EXPENSE_CATEGORIES; track exc) {
                                  <mat-option [value]="exc.value">{{exc.viewValue}}</mat-option>
                                }
                              </mat-select>
                  </mat-form-field>
              </td>
              <td>
                  <mat-form-field appearance="fill" class="fill expense-input">
                          <mat-label>Sub Category</mat-label>
                              <mat-select formControlName="subcategory">
                                @for (exc of EXPENSE_SUB_CATEGORIES; track exc) {
                                  <mat-option [value]="exc.value">{{exc.viewValue}}</mat-option>
                                }
                              </mat-select>
                  </mat-form-field>
              </td>
          </tr>
          <tr>
            <td>
                  <mat-form-field class="fill expense-input">
                      <mat-label>Date</mat-label>
                      <input matInput
                          [matDatepicker]="picker"
                          formControlName="date">
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
              </td>
            <td>
                <mat-form-field class="fill expense-input">
                    <mat-label>Amount (¥)</mat-label>
                    <input matInput placeholder="Amount" formControlName="amount">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="fill expense-input">
                  <mat-label>Destination</mat-label>
                  <input matInput placeholder="Destination" formControlName="destination">
                </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <mat-form-field class="fill expense-input">
                  <mat-label>Destination Alias (English)</mat-label>
                  <input matInput placeholder="Destination" formControlName="alias">
                </mat-form-field>
            </td>
          </tr>

        </table>
        <mat-form-field class="fill expense-input">
          <mat-label>Notes</mat-label>
          <textarea matInput placeholder="Notes"  formControlName="notes"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="expense-form-footer">
  <button mat-raised-button mat-dialog-close (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()">Save</button>
</mat-dialog-actions>
