.transaction-panel {
  margin: 10px 0;
}

.transaction-item-panel .mat-expansion-panel-header-description {
  justify-content: end;
  align-items: center;
}

table.transaction-table {
  width: 100%;
  border-collapse: collapse;
}

table.transaction-table thead {
  background-color: #f2f2f2;
}

table.transaction-table thead th,
tbody td {
  padding: 0 10px;
  text-align: center;
}

table.transaction-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table.transaction-table tbody tr:hover {
  background-color: #f0f0f0;
}

table.transaction-table tbody td {
  border-bottom: 1px solid #ddd;
  line-height: 40px;
}

table.transaction-table tbody td:first-child {
  font-weight: bold;
}

table.transaction-table tbody td:last-child {
  font-style: italic;
}

/*.transaction-actions {*/
/*  display: flex;*/
/*  justify-content: space-around;*/
/*}*/

/*.edit-action, .merge-action {*/
/*  cursor: pointer;*/
/*  width: 15px;*/
/*}*/

.transaction-actions {
  cursor: pointer;
}

.transaction-action-item {
  margin-left: 10px;
  font-size: 14px;
}

.merge-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-item {
  padding: 1px;
  margin: 0 5px;
  border: 1px solid #999898;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.highlight-merge-panel {
  background: #cacaca;
  border-radius: 10px;
  padding: 5px;
}

.merge-description {
  display: flex;
  align-items: center;
  font-weight: 800;
  color: blue;
}

.filters-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  background: #dadada;
  padding: 5px;
  border-radius: 10px;
}

.transaction-panel-container {
  max-height: 75vh;
  overflow: auto;
}
.edit-panel {
  display: flex;
}
