<mat-accordion multi="true">
  @for (data of transactionData; track $index) {
    <mat-expansion-panel class="transaction-panel">
      <mat-expansion-panel-header>
        <mat-panel-title
          >{{ data.year }} - {{ data.month_text }} : ¥{{
            data.total | number: "1.2-2"
          }}</mat-panel-title
        >
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <table class="transaction-table">
        <thead>
          <tr>
              <th></th>
              <th>Date</th>
              <th>Category</th>
              <th>Sub Category</th>
              <th>Payment Method</th>
              <th>Amount</th>
              <th>Destination</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
      @for (row of data.transactions_cp; track $index) {
        <tr>
            <td><input type="checkbox" [value]="row.id" (change)="toggleItem(row.id, $event)"></td>
            <td>{{row.date}}</td>
            <td>{{row.category_text}}</td>
            <td>{{row.subcategory_text}}</td>
            <td>{{row.payment_method_text}}</td>
            <td>¥{{row.amount | number: "1.2-2"}}</td>
            <td>{{row.alias ? row.alias : row.destination}}</td>
            <td>
              <button
                mat-icon-button
                matTooltip="Click to Edit"
                class="iconbutton"
                color="primary"
                (click)="editRecord(row, 'update')"
              >
              <mat-icon>edit</mat-icon>
            </button>
            <button
                mat-icon-button
                matTooltip="Click to Delete"
                class="iconbutton"
                color="warn"
                (click)="editRecord(row, 'delete')"
              >
              <mat-icon>delete</mat-icon>
            </button>
            </td>
        </tr>
      }
      </tbody>
      </table>
    </mat-expansion-panel>
  }
</mat-accordion>

