@use "@angular/material" as mat;

.payee-table {
  height: calc(100vh - 250px);
  overflow: auto;
  padding: 0 5px 10px 5px;
}

table {
  @include mat.table-overrides(
    (
      row-item-outline-width: 0.2px,
    )
  );
}

.payee-edit-icon {
  cursor: pointer;
}

