<script src="../../../finance/transaction-table/transaction-table.component.ts"></script>
<div class="stock-summary">
  <mat-card class="summary-item total-value">
    <mat-card-content>
      <div class="summary-item-title">
        <div class="summary-item-title-icon">
          <fa-icon [icon]="faMoneyBill" size="lg" [style]="{'color': '#3699ff'}"></fa-icon>
          <span>Total Value</span>
        </div>
        <div class="summary-item-title-value">
          <span>{{currency}}{{totalCurrentPrice | number: "1.2-2"}}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="summary-item total-investment">
    <mat-card-content>
      <div class="summary-item-title">
        <div class="summary-item-title-icon">
          <fa-icon [icon]="faMoneyBill" size="lg" [style]="{'color': '#3699ff'}"></fa-icon>
          <span>Invested Value</span>
        </div>
        <div class="summary-item-title-value">
          <span>{{currency}}{{totalInvestment | number: "1.2-2"}}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="summary-item total-profit">
    <mat-card-content>
      <div class="summary-item-title">
        <div class="summary-item-title-icon">
          <fa-icon [icon]="faLineChart" size="lg" [style]="{'color': '#3699ff'}"></fa-icon>
          <span>Total Profit</span>
        </div>
        <div class="summary-item-title-value" [ngClass]="{'profit': totalProfit >=  0, 'loss': totalProfit < 0}">
          <span>{{totalProfit >= 0 ? '' : '-'}} {{currency}}{{Math.abs(totalProfit) | number: "1.2-2"}}</span>
          <span class="percentage-change">
          {{totalProfitPercentage | number: "1.2-2"}} %
          <fa-icon [icon]="totalProfit > 0 ? faCaretUp : faCaretDown" class="{{totalProfit > 0 ? 'profit' : 'loss'}}"></fa-icon>
        </span>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
  <mat-card class="summary-item forex">
    <mat-card-content>
      <div class="summary-item-title">
        <div class="summary-item-title-icon">
          <fa-icon [icon]="faJpy" size="lg" [style]="{'color': '#3699ff'}"></fa-icon>
          <span>Total Profit (Y)</span>
        </div>
        <div class="summary-item-title-value">
          <span>156</span>

        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<mat-card>
  <mat-card-content>
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 portfolio-table">
      <ng-container matColumnDef="Stock">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Stock </th>
        <td mat-cell *matCellDef="let element">
          <div class="holding-item-contents-1">
            <div class="company-image"><img src="{{element.image}}" alt="" class="ticker-image"></div>
            <div class="company-ticker">
              <div class="company-name">{{element.company_name}}</div>
              <div class="company-symbol">{{element.company}}</div>
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Shares">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Shares </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
      <ng-container matColumnDef="CostPerShare">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Cost per share </th>
        <td mat-cell *matCellDef="let element"> {{element.stock_currency}}{{element.average_price | number: "1.2-2"}} </td>
      </ng-container>
      <ng-container matColumnDef="CurrentShareValue">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Current share value </th>
        <td mat-cell *matCellDef="let element"> {{element.stock_currency}}{{element.current_price | number: "1.2-2"}} </td>
      </ng-container>
      <ng-container matColumnDef="TotalInvestment">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Total Investment </th>
        <td mat-cell *matCellDef="let element"> {{element.stock_currency}}{{element.total_investment | number: "1.2-2"}} </td>
      </ng-container>
      <ng-container matColumnDef="CurrentValue">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Current Value </th>
        <td mat-cell *matCellDef="let element"> {{element.stock_currency}}{{element.current_value | number: "1.2-2"}} </td>
      </ng-container>
      <ng-container matColumnDef="TotalProfit">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Total Profit </th>
        <td mat-cell *matCellDef="let element">
          <div class="profit-loss"
               [ngClass]="{'profit': element.profit_loss >= 0, 'loss': element.profit_loss < 0}">
            <span>{{ formatValue(element.profit_loss) }} </span>
          </div>
          <div class="profit-loss-percentage" [ngClass]="{'profit': element.profit_loss >= 0, 'loss': element.profit_loss < 0}">
            <fa-icon [icon]="element.profit_change_percentage > 0 ? faCaretUp : faCaretDown"></fa-icon>
            {{ element.profit_change_percentage | number: "1.2-2" }} %
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="ShareInProtofolio">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Share in protofolio </th>
        <td mat-cell *matCellDef="let element"> {{(element.total_investment/totalInvestment)*100 | number: "1.2-2" }} % </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
              <span class="holding-actions" [matMenuTriggerFor]="menu">
                <fa-icon
                  [icon]="faEllipsis"
                  size="lg"
                  [style]="{ color: '#3699ff' }"
                ></fa-icon>
              </span>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <fa-icon [icon]="faPlus"></fa-icon>
                  <span>Add Transaction</span>
                </button>
                <button mat-menu-item disabled>
                  <fa-icon [icon]="faTrash"></fa-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>


