.chart-card-header {
  display: flex;
  padding: 5px 16px 0;
  justify-content: center;
  background: #bdbdbd;
  height: 30px;
  align-items: center;
}

.card-title {
  width: 100%;
}

mat-card-title {
  font-size: 14px;
}

.chart-actions {
  cursor: pointer;
}
