<mat-card>
  <mat-card-header>
    <mat-card-title>Account settings</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table [dataSource]="accounts" mat-table>
      <ng-container matColumnDef="account_name">
        <th *matHeaderCellDef mat-header-cell> Account Name</th>
        <td *matCellDef="let element" mat-cell> {{ element.account_name }}</td>
      </ng-container>
      <ng-container matColumnDef="account_type">
        <th *matHeaderCellDef mat-header-cell> Account Type</th>
        <td *matCellDef="let element" mat-cell> {{ element.account_type }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell> Description</th>
        <td *matCellDef="let element" mat-cell> {{ element.description }}</td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </mat-card-content>
</mat-card>
