.stock-summary {
  display: flex;
  margin: 5px 0;
}

.summary-item {
  width: 25%;
  margin-right: 5px;
}

.summary-item-title-icon > span {
  margin-left: 10px;
}
.summary-item-title {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}
.summary-item-title-value {
  font-size: 20px;
  text-align: center;
}

.summary-item-title-value > .percentage-change {
  font-size: 14px;
}

.profit {
  color: green;
}

.loss {
  color: #f64e60;
}

.chart-row {
  display: flex;
}

.chart-card-header {
  display: flex;
  padding: 5px 16px 0;
  justify-content: center;
  background: #bdbdbd;
  height: 30px;
  align-items: center
}

.chart-card-title {
  font-size: 14px;
}

.chard-card-content {
  margin-top: 10px;
}

.panel-header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sector-wise-breakdown {
  width: 550px;
  height: 400px;
}
