<div class="dashboard-summary-container">
  <mat-grid-list [gutterSize]="'5px'" cols="4" rowHeight="80px">
    <mat-grid-tile>
      <mat-card class="summary-item total-value">
        <mat-card-content>
          <div class="summary-item-title">
            <div class="summary-item-title-icon">
              <fa-icon [icon]="faMoneyBill" [style]="{'color': '#3699ff'}" size="lg"></fa-icon>
              <span>Total Value</span>
            </div>
            <div class="summary-item-title-value">
              <span>{{ currency }}{{ totalCurrentPrice() | number: "1.2-2" }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="summary-item total-investment">
        <mat-card-content>
          <div class="summary-item-title">
            <div class="summary-item-title-icon">
              <fa-icon [icon]="faMoneyBill" [style]="{'color': '#3699ff'}" size="lg"></fa-icon>
              <span>Invested Value</span>
            </div>
            <div class="summary-item-title-value">
              <span>{{ currency }}{{ totalInvestment() | number: "1.2-2" }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="summary-item total-profit">
        <mat-card-content>
          <div class="summary-item-title">
            <div class="summary-item-title-icon">
              <fa-icon [icon]="faLineChart" [style]="{'color': '#3699ff'}" size="lg"></fa-icon>
              <span>Total Profit</span>
            </div>
            <div [ngClass]="{'profit': totalProfit() >=  0, 'loss': totalProfit() < 0}"
                 class="summary-item-title-value">
              <span>{{ totalProfit() >= 0 ? '' : '-' }} {{ currency }}{{ Math.abs(totalProfit()) | number: "1.2-2" }}</span>
              <span class="percentage-change">
          {{ totalProfitPercentage() | number: "1.2-2" }} %
          <fa-icon [icon]="totalProfit() > 0 ? faCaretUp : faCaretDown"
                   class="{{totalProfit() > 0 ? 'profit' : 'loss'}}"></fa-icon>
        </span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="summary-item forex">
        <mat-card-content>
          <div class="summary-item-title">
            <div class="summary-item-title-icon">
              <fa-icon [icon]="faJpy" [style]="{'color': '#3699ff'}" size="lg"></fa-icon>
              <span>Total Profit (Y)</span>
            </div>
            <div class="summary-item-title-value">
              <span>156</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="dashboard-container">
  <mat-grid-list [gutterSize]="'5px'" cols="3" rowHeight="350px">
    <mat-grid-tile>
      <div class="chart-item">
        <app-chartbox
          (rendered)="childRendered()"
          [chartData]="monthlyAccInvestedSum"
          [chartOptions]="monthlyAccInvestedSumOptions"
          [chartType]="monthlyAccInvestedSumChartType"
        ></app-chartbox>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="chart-item">
        <app-chartbox
          (rendered)="childRendered()"
          [chartData]="monthlyDividend"
          [chartOptions]="monthlyDividendOptions"
          [chartType]="monthlyDividendChartType"
        ></app-chartbox>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="chart-item">
        <app-chartbox
          (rendered)="childRendered()"
          [chartData]="monthlyInvestedSum"
          [chartOptions]="monthlyInvestedSumOptions"
          [chartType]="monthlyInvestedSumChartType"
        ></app-chartbox>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="chart-item">
        <app-chartbox
          (rendered)="childRendered()"
          [chartData]="sectorWiseUsStockSum"
          [chartOptions]="sectorWiseUsStockSumOptions"
          [chartType]="sectorWiseUsStockSumChartType"
        ></app-chartbox>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="chart-item">
        <app-chartbox
          (rendered)="childRendered()"
          [chartData]="securityWiseUsStockSum"
          [chartOptions]="securityWiseUsStockSumOptions"
          [chartType]="securityWiseUsStockSumChartType"
        ></app-chartbox>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="chart-item">
        <app-chartbox
          (rendered)="childRendered()"
          [chartData]="sectorWiseUsStockSum"
          [chartOptions]="sectorWiseUsStockInvestmentOptions"
          [chartType]="sectorWiseUsStockInvestmentChartType"
        ></app-chartbox>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="chart-item">
        <div class="monthly-total-expenses">
          <app-chartbox
            (rendered)="childRendered()"
            [chartData]="sectorWiseDomesticStockSum"
            [chartOptions]="sectorWiseDomesticStockSumOptions"
            [chartType]="sectorWiseDomesticStockSumChartType"
          ></app-chartbox>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="chart-item">
        <div class="monthly-total-expenses">
          <app-chartbox
            (rendered)="childRendered()"
            [chartData]="securityWiseDomesticStockSum"
            [chartOptions]="securityWiseDomesticStockSumOptions"
            [chartType]="securityWiseDomesticStockSumChartType"
          ></app-chartbox>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="chart-item">
        <app-chartbox
          (rendered)="childRendered()"
          [chartData]="sectorWiseDomesticStockSum"
          [chartOptions]="sectorWiseDomesticStockInvestmentOption"
          [chartType]="sectorWiseDomesticStockInvestmentChartType"
        ></app-chartbox>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

