<div class="dashboard-container">
  <div class="stock-summary">
    <mat-card class="summary-item total-value">
      <mat-card-content>
        <div class="summary-item-title">
          <div class="summary-item-title-icon">
            <fa-icon [icon]="faMoneyBill" size="lg" [style]="{'color': '#3699ff'}"></fa-icon>
            <span>Total Value</span>
          </div>
          <div class="summary-item-title-value">
            <span>{{currency}}{{totalCurrentPrice | number: "1.2-2"}}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="summary-item total-investment">
      <mat-card-content>
        <div class="summary-item-title">
          <div class="summary-item-title-icon">
            <fa-icon [icon]="faMoneyBill" size="lg" [style]="{'color': '#3699ff'}"></fa-icon>
            <span>Invested Value</span>
          </div>
          <div class="summary-item-title-value">
            <span>{{currency}}{{totalInvestment | number: "1.2-2"}}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="summary-item total-profit">
      <mat-card-content>
        <div class="summary-item-title">
          <div class="summary-item-title-icon">
            <fa-icon [icon]="faLineChart" size="lg" [style]="{'color': '#3699ff'}"></fa-icon>
            <span>Total Profit</span>
          </div>
          <div class="summary-item-title-value" [ngClass]="{'profit': totalProfit >=  0, 'loss': totalProfit < 0}">
            <span>{{totalProfit >= 0 ? '' : '-'}} {{currency}}{{Math.abs(totalProfit) | number: "1.2-2"}}</span>
            <span class="percentage-change">
          {{totalProfitPercentage | number: "1.2-2"}} %
          <fa-icon [icon]="totalProfit > 0 ? faCaretUp : faCaretDown" class="{{totalProfit > 0 ? 'profit' : 'loss'}}"></fa-icon>
        </span>
          </div>
        </div>
      </mat-card-content>

    </mat-card>
    <mat-card class="summary-item forex">
      <mat-card-content>
        <div class="summary-item-title">
          <div class="summary-item-title-icon">
            <fa-icon [icon]="faJpy" size="lg" [style]="{'color': '#3699ff'}"></fa-icon>
            <span>Total Profit (Y)</span>
          </div>
          <div class="summary-item-title-value">
            <span>156</span>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="chart-row">
    <div class="chart-item">
      <app-chartbox
        [chartData]="monthlyAccInvestedSum"
        [chartOptions]="monthlyAccInvestedSumOptions"
        [chartType]="monthlyAccInvestedSumChartType"
        (rendered)="childRendered()"
      ></app-chartbox>
    </div>

    <div class="chart-item">
      <app-chartbox
        [chartData]="monthlyDividend"
        [chartOptions]="monthlyDividendOptions"
        [chartType]="monthlyDividendChartType"
        (rendered)="childRendered()"
      ></app-chartbox>
    </div>

    <div class="chart-item">
      <app-chartbox
        [chartData]="monthlyInvestedSum"
        [chartOptions]="monthlyInvestedSumOptions"
        [chartType]="monthlyInvestedSumChartType"
        (rendered)="childRendered()"
      ></app-chartbox>
    </div>
  </div>
  <div class="chart-row">
    <div class="monthly-total-expenses">
      <app-chartbox
        [chartData]="sectorWiseSum"
        [chartOptions]="sectorWiseSumOptions"
        [chartType]="sectorWiseSumChartType"
        (rendered)="childRendered()"
      ></app-chartbox>
    </div>
    <div class="sector-wise-breakdown">
      <mat-card class="chart-card">
        <mat-card-header class="chart-card-header">
          <mat-card-title class="chart-card-title">title</mat-card-title>
        </mat-card-header>
        <mat-card-content class="chart-card-content">
          <mat-accordion>
              @for (data of sectorWiseSum; track data;) {
                <mat-expansion-panel hideToggle class="sector-panel">
                  <mat-expansion-panel-header>
                    <div class="panel-header-content">
                      <div class="header-title">{{data[0]}}</div>
                      <div class="header-content">{{data[1]}}</div>
                    </div>
                  </mat-expansion-panel-header>
                  <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
              }
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="chart-row">
  <div class="monthly-total-expenses">
    <app-chartbox
      [chartData]="sectorWiseDomesticSum"
      [chartOptions]="sectorWiseDomesticSumOptions"
      [chartType]="sectorWiseDomesticSumChartType"
      (rendered)="childRendered()"
    ></app-chartbox>
  </div>
</div>
