.toolbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Menu styling */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #333;
  padding: 10px;
  left: 0;
  top: 100%;
  min-width: 120px;
}

.menu-item:hover .submenu {
  display: block;
}

.active-menu-item > span {
  color: #87edc1;
}

.investment-content-container {
  margin: 10px;
  height: 90vh;
}
