<div class="table-container">
    <table class="portfolio-table">
        <thead>
          <tr>
              <th>Stock</th>
              <th>Shares</th>
              <th>Cost per share</th>
              <th>Cost basis</th>
              <th>Current Value</th>
              <th>Total Profit</th>
              <th>Daily</th>
          </tr>
      </thead>
      <tbody>
        <tr>
            <td>GOOGL</td>
            <td>100</td>
            <td>$2500</td>
            <td>+5%</td>
            <td>+5%</td>
            <td>+5%</td>
            <td>$250,000</td>
        </tr>
          <tr>
            <td>GOOGL</td>
            <td>100</td>
            <td>$2500</td>
            <td>+5%</td>
            <td>+5%</td>
            <td>+5%</td>
            <td>$250,000</td>
        </tr>
      </tbody>
    </table>
</div>
