<div class="toolbar">
  <ul class="menu">
    <li class="menu-item" routerLink="dashboard" routerLinkActive="active-menu-item"><span>Dashboard</span></li>
    <li class="menu-item" routerLink="profile" routerLinkActive="active-menu-item"><span>Holdings</span></li>
    <li class="menu-item" routerLink="dividend" routerLinkActive="active-menu-item"><span>Dividends</span></li>
    <li class="menu-item" routerLink="trade-history" routerLinkActive="active-menu-item"><span>Trade History</span></li>
  </ul>
</div>

<div class="investment-container">
  <router-outlet></router-outlet>
</div>

