.content {
  flex: 1;
  overflow: hidden;
  max-height: 100vh;
}


.app-container {
  height: 90%;
  margin: 0;
}


.main-container {
  height: 93vh;
  overflow: hidden;
  background: #faf7f7;
}

.nav-brand {
  text-align: center;
}

.fix-nav {
  height: 55px;
}

.example-spacer {
  flex: 1 1 auto;
}
