.content {
  flex: 1;
  overflow: hidden;
  max-height: 100vh;
}

.nav-link {
  display: flex;
  cursor: pointer;
}

.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 230px;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.main-container {
  height: 93vh;
  overflow: hidden;
  background: #faf7f7;
}

.sidenav-container {
  margin-top: 55px;
}
