
<div class="wrapper">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <div class="user-info">
      </div>

      <ul class="menu-items">
        <li class="menu-item">
          <a routerLink="/">Dashboard</a>
        </li>
        <li class="menu-item">
          <a routerLink="income" routerLinkActive="active">Income</a>
        </li>
        <li class="menu-item">
          <a routerLink="savings" routerLinkActive="active">Savings</a>
        </li>
        <li class="menu-item">
          <a routerLink="payments" routerLinkActive="active">Payments</a>
        </li>
        <li class="menu-item">
          <a routerLink="expense" routerLinkActive="active">Expenses</a>
        </li>
        <li class="menu-item">
          <a routerLink="investments" routerLinkActive="active">Investments</a>
        </li>
        <li class="menu-item">
          <a routerLink="debts" routerLinkActive="active">Debts</a>
        </li>
      </ul>
      <button class="logout-btn" >Logout</button>
    </nav>
  </div>
  <div class="content">
    <mat-progress-bar [mode]="progressMode"></mat-progress-bar>
    <div class="expense-toolbar">
      <app-toolbar (toolbarFilters)="onFilterSearch($event)"></app-toolbar>
    </div>
    <router-outlet />
  </div>
</div>


