
<div class="wrapper">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <div class="user-info">
        <img src="assets/avatar.png" alt="User Avatar">
        <span>John Doe</span>
      </div>
  
      <ul class="menu-items">
        <li class="menu-item">
          <a routerLink="/" routerLink="">Dashboard</a>
        </li>
        <li class="menu-item">
          <a routerLink="/products" routerLink="income" routerLinkActive="active">Income</a>
        </li>
        <li class="menu-item">
          <a routerLink="/users" routerLink="bills-and-subscriptions" routerLinkActive="active">Bills and Subscriptions</a>
        </li>
        <li class="menu-item">
          <a routerLink="/settings" routerLink="spendings" routerLinkActive="active">Spending</a>
        </li>
        <li class="menu-item">
          <a routerLink="/settings" routerLink="savings" routerLinkActive="active">Savings</a>
        </li>
        <li class="menu-item">
          <a routerLink="/settings" routerLink="debts" routerLinkActive="active">Debts</a>
        </li>
      </ul>
      <button class="logout-btn" >Logout</button>
    </nav>
  </div>
  <div class="content">
    <router-outlet />
  </div>
</div>


