mat-card {
  margin-top: 10px;
}

.transaction-panel {
  margin: 10px 0;
}

.transaction-item-panel .mat-expansion-panel-header-description {
  justify-content: end;
  align-items: center;
}
.card-title {
  width: 100%;
}

mat-card-content {
  margin-top: 10px;
}
