<div class="toolbar">
  <ul class="menu">
    <li class="menu-item" routerLink="/investments" routerLinkActive="active-menu-item"> <span>Dashboard</span></li>
    <li class="menu-item" routerLink="/investments/profile" routerLinkActive="active-menu-item"> <span>Holdings</span></li>
    <li class="menu-item" routerLink="/investments/dividend" routerLinkActive="active-menu-item"> <span>Dividends</span></li>
    <li class="menu-item" routerLink="/investments/trade-history" routerLinkActive="active-menu-item"> <span>Trade History</span></li>
  </ul>
</div>
