<div class="toolbar">
  <ul class="menu">
<!--      <li class="menu-item" routerLink="" routerLinkActive="active-menu-item"> <span>Dashboard</span></li>-->
      <li class="menu-item" routerLink="/transactions" routerLinkActive="active-menu-item"> <span>Transactions</span></li>
      <li class="menu-item" routerLink="/income" routerLinkActive="active-menu-item"> <span>Income</span></li>
      <li class="menu-item" routerLink="/payments" routerLinkActive="active-menu-item"> <span>Payments</span></li>
      <li class="menu-item" routerLink="/savings" routerLinkActive="active-menu-item"> <span>Savings</span></li>
  </ul>
</div>
