<h2
  mat-dialog-title
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
>
  Transaction Details
</h2>
<mat-dialog-content>
  <table class="merge-table">
    <thead>
      <tr>
        <th>Transaction ID</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Destination</th>
      </tr>
    </thead>
    <tbody>
<!--      @for (row of data.formDataList; track row; let tableRowId = $index) {-->
<!--        <tr>-->
<!--          <td>{{ row.id }}</td>-->
<!--          <td>{{ row.date }}</td>-->
<!--          <td>{{ row.amount | number: "1.2-2" }}</td>-->
<!--          <td>{{ row.destination }}</td>-->
<!--        </tr>-->
<!--      }-->
    </tbody>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="end" class="expense-form-footer">
  <button mat-raised-button mat-dialog-close (click)="close()">Cancel</button>
</mat-dialog-actions>
