<div class="toolbar">
  <ul class="menu">
    <li
      class="menu-item"
      routerLink="transaction"
      routerLinkActive="active-menu-item"
    >
      <span>Transactions</span>
    </li>
    <li
      class="menu-item"
      routerLink="income"
      routerLinkActive="active-menu-item"
    >
      <span>Income</span>
    </li>
    <li
      class="menu-item"
      routerLink="payments"
      routerLinkActive="active-menu-item"
    >
      <span>Payments</span>
    </li>
    <li
      class="menu-item"
      routerLink="savings"
      routerLinkActive="active-menu-item"
    >
      <span>Savings</span>
    </li>
  </ul>
</div>
<div class="data-card-content">
  <mat-grid-list
    cols="3"
    rowHeight="50px"
    [gutterSize]="'5px'"
    class="filter-toolbar"
  >
    <mat-grid-tile>
      <div class="toolbar-header">
        <h2>{{ pageTitle }} Activity</h2>
      </div>
      <div class="range-filter">
        <div class="range-filter-actions">
          <div
            class="range-action"
            matRipple
            (click)="changeFilterYear('prev')"
          >
            <fa-icon
              [icon]="faSquareCaretLeft"
              size="1x"
              [style]="{ color: '#4a4949' }"
            ></fa-icon>
          </div>
          <div class="range-filter-title">
            <h3 class="range-title">{{ currentYear }}</h3>
          </div>
          <div
            class="range-action"
            matRipple
            (click)="changeFilterYear('next')"
          >
            <fa-icon
              [icon]="faSquareCaretRight"
              size="1x"
              [style]="{ color: '#4a4949' }"
            ></fa-icon>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="search-bar-wrapper">
        <input
          type="text"
          class="search-bar"
          placeholder="Search"
          (keyup)="applyFilter($event)"
        />
      </div>

    </mat-grid-tile>
    <mat-grid-tile>
      <div class="filters-right">
        <div class="merge-panel">
          <div class="filter-item"
               matRipple
               matBadge="{{selectedTransactions.length}}"
               [matBadgeHidden]="selectedTransactions.length<=1"
               matBadgeSize="small"
               matTooltip="Merge Transactions"
               matTooltipPosition="below"
               [ngClass]="{'disable-merge-action': selectedTransactions.length <= 1}">
            <fa-icon
              [icon]="faCodeMerge"
              size="1x"
              [style]="{ color: '#4a4949' }"
            ></fa-icon>
          </div>
          <div class="filter-item"
               matRipple
               matBadge="{{selectedTransactions.length}}"
               [matBadgeHidden]="selectedTransactions.length<=1"
               matBadgeSize="small"
               matTooltip="Bulk Edit"
               matTooltipPosition="below"
               [ngClass]="{'disable-merge-action': selectedTransactions.length <= 1}">
            <fa-icon
              [icon]="faPencil"
              size="1x"
              [style]="{ color: '#4a4949' }"
            ></fa-icon>
          </div>
          <div class="filter-item"
               matRipple
               matBadge="{{selectedTransactions.length}}"
               [matBadgeHidden]="selectedTransactions.length<=1"
               matBadgeSize="small"
               matTooltip="Bulk Delete"
               [ngClass]="{'disable-merge-action': selectedTransactions.length <= 1}">
            <fa-icon
              [icon]="faTrash"
              size="1x"
              [style]="{ color: '#af5252' }"
            ></fa-icon>
          </div>
        </div>
        <div class="edit-panel">
          <div
            class="filter-item"
            (click)="panelAction()"
            matRipple
            [matTooltip]="allExpanded ? 'Minimize All' : 'Expand All'"
            matTooltipPosition="below"
          >
            <fa-icon
              [icon]="allExpanded ? faMinimize : faExpand"
              size="1x"
              [style]="{ color: '#4a4949' }"
            ></fa-icon>
          </div>
          <div
            #filterButton
            (click)="openFilters()"
            class="filter-item"
            [ngClass]="{ 'filter-enabled': filterEnabled }"
            matRipple
          >
            <fa-icon
              [icon]="faFilter"
              size="1x"
              [style]="{ color: '#4a4949' }"
            ></fa-icon>
          </div>
          <div
            class="filter-item"
            matRipple
            matTooltip="Upload Transactions"
            matTooltipPosition="below"
          >
            <fa-icon
              [icon]="faUpload"
              size="1x"
              [style]="{ color: '#4a4949' }"
            ></fa-icon>
          </div>
          <div
            class="filter-item"
            (click)="addTransaction()"
            matRipple
            matTooltip="Add Transactions"
            matTooltipPosition="below"
          >
            <fa-icon
              [icon]="faCirclePlus"
              size="1x"
              [style]="{ color: '#4a4949' }"
            ></fa-icon>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="transaction-panel-container">
    <router-outlet></router-outlet>
  </div>
</div>
