.data-card-content {
  margin: 0 1%;
  overflow: auto;
}

.toolbar-header {
  width: 100%;
  text-align: left;
  padding: 10px;
}

.toolbar-header > h2 {
  margin: 0;
}

.range-filter {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.range-filter-actions {
  display: flex;
}

.range-action {
  width: 30px;
  height: 20px;
  border: 1px solid #aea1a1;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  justify-content: center;
  margin: 0 5px;
  cursor: pointer;
}

.range-title {
  margin-bottom: 0;
  font-weight: 800;
}
