/* Menu styling */
.toolbar {
  background-color: #f2f1f1;
  color: #333131;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.active-menu-item > span {
  color: #3699ff;
}


.data-card-content {
  margin: 0 1%;
  overflow: auto;
}


.filter-item {
  padding: 1px;
  margin: 0 5px;
  border: 1px solid #999898;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}




.filter-enabled {
  border: 2px solid #2541f4;
}

.transaction-panel-container {
  max-height: 80vh;
  overflow: auto;
}

.toolbar-header {
  width: 100%;
  text-align: left;
  padding: 10px;
}

.toolbar-header > h2 {
  margin: 0;
}

.filters-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.search-bar{
  margin: 0 auto;
  width: 40%;
  height: 30px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  border-radius: 5px;
  outline: none;
  &:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
  }
}

.merge-panel {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
