@use "@angular/material" as mat;

nav {
  @include mat.tabs-overrides(
    (
      divider-height: 0px,
      label-text-line-height: 3px,
    )
  );
  margin-bottom: 5px;
}

.main-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toolbar-actions {
  display: flex;
  flex-direction: row;
  > button {
    margin: 0 5px;
  }
}
div[mat-tab-group] {
  flex-grow: 1;
}
