<script src="transaction-filter/transaction-filter.component.ts"></script>
<div class="toolbar">
  <ul class="menu">
    <li
      class="menu-item"
      routerLink="{{EXPENSE}}"
      routerLinkActive="active-menu-item"
    >
      <span>Transactions</span>
    </li>
    <li
      class="menu-item"
      routerLink="{{INCOME}}"
      routerLinkActive="active-menu-item"
    >
      <span>Income</span>
    </li>
    <li
      class="menu-item"
      routerLink="{{PAYMENT}}"
      routerLinkActive="active-menu-item"
    >
      <span>Payments</span>
    </li>
    <li
      class="menu-item"
      routerLink="{{SAVING}}"
      routerLinkActive="active-menu-item"
    >
      <span>Savings</span>
    </li>
  </ul>
</div>
<div class="data-card-content">
  <mat-grid-list
    cols="3"
    rowHeight="50px"
    [gutterSize]="'5px'"
    class="filter-toolbar"
  >
    <mat-grid-tile>
      <div class="toolbar-header">
        <h2>{{ title.getTitle() }}</h2>
      </div>
      <div class="range-filter">
        <div class="range-filter-actions">
          <div
            class="range-action"
            matRipple
            (click)="changeFilterYear('prev')"
          >
            <fa-icon
              [icon]="faSquareCaretLeft"
              size="1x"
              [style]="{ color: '#4a4949' }"
            ></fa-icon>
          </div>
          <div class="range-filter-title">
            <h3 class="range-title">{{ currentYear }}</h3>
          </div>
          <div
            class="range-action"
            matRipple
            (click)="changeFilterYear('next')"
          >
            <fa-icon
              [icon]="faSquareCaretRight"
              size="1x"
              [style]="{ color: '#4a4949' }"
            ></fa-icon>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="search-bar-wrapper">
        <input
          type="text"
          class="search-bar"
          placeholder="Search"
          #searchInput
          (keyup)="applyFilter()"
        />
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <router-outlet></router-outlet>

</div>
