.filters-right {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  background: #dadada;
  padding: 5px;
  border-radius: 10px;
}
.filters-right > .edit-panel {
  display: flex;
  > button {
    margin: 0 2px;
  }
}
