<mat-grid-list
  cols="3"
  rowHeight="40px"
  [gutterSize]="'5px'"
  class="filter-toolbar"
>
  <mat-grid-tile>
    <div class="toolbar-header">
      <h2>Protofolio</h2>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="search-bar-wrapper">
      <input
        type="text"
        class="search-bar"
        placeholder="Search"
        #searchInput
        (keyup)="applyFilter()"
      />
    </div>

  </mat-grid-tile>
  <mat-grid-tile>
    <div class="filters-right">
      <div class="edit-panel">
        <div
          class="coincraft-action-button"
          matRipple
          matTooltip="Upload Transactions"
          matTooltipPosition="below"
        >
          <fa-icon
            [icon]="faUpload"
            size="1x"
            [style]="{ color: '#4a4949' }"
          ></fa-icon>
        </div>
        <div
          class="coincraft-action-button"
          (click)="addTransaction()"
          matRipple
          matTooltip="Add Transactions"
          matTooltipPosition="below"
        >
          <fa-icon
            [icon]="faCirclePlus"
            size="1x"
            [style]="{ color: '#4a4949' }"
          ></fa-icon>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="US Stocks">
    <div class="table-container">
      <app-holding-table [holdings]="usHoldings"></app-holding-table>
    </div>
  </mat-tab>
  <mat-tab label="Domestic Stocks">
    <div class="table-container">
      <app-holding-table [holdings]="domesticHoldings"></app-holding-table>
    </div>
  </mat-tab>
</mat-tab-group>

