<div class="filters-right">
  <div class="info-panel"></div>
  <div class="edit-panel">
    <button
      class="coincraft-action-button"
      mat-mini-fab
      matTooltip="Search Transactions"
      matTooltipPosition="below"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button
      mat-mini-fab
      (click)="showValueAction()"
      [matTooltip]="showValues ? 'Hide values' : 'Show Values'"
      matTooltipPosition="below"
    >
      @if (showValues) {
        <mat-icon>visibility_off</mat-icon>
      }
      @if (!showValues) {
        <mat-icon>visibility</mat-icon>
      }
    </button>
    <button
      (click)="openFilters()"
      mat-mini-fab
      matTooltip="Filter Transactions"
      matTooltipPosition="below"
    >
      <mat-icon>filter_alt</mat-icon>
    </button>
    <button
      (click)="importTransaction()"
      mat-mini-fab
      matTooltip="Upload Transactions"
      matTooltipPosition="below"
    >
      <mat-icon>upload</mat-icon>
    </button>
    <button
      (click)="addTransaction()"
      mat-mini-fab
      matTooltip="Add Transactions"
      matTooltipPosition="below"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<app-holding-table [holdings]="holdings$ | async"></app-holding-table>
