<app-investment-submenu></app-investment-submenu>
<div class="table-container">
    <table class="portfolio-table">
        <thead>
          <tr>
              <th>Stock</th>
              <th>Shares</th>
              <th>Cost per share</th>
              <th>Current share value</th>
              <th>Total Investment</th>
              <th>Current Value</th>
              <th>Total Profit</th>
              <th>Share in protofolio</th>
          </tr>
      </thead>
      <tbody>
        @for (data of holdings; track $index) {
        <tr>
            <td>
              <div class="holding-item-contents-1">
                <div class="company-image"><img src="{{data.image}}" alt="" class="ticker-image"></div>
                <div class="company-ticker">{{data.company}}</div>
              </div>
            </td>
            <td>{{data.quantity}}</td>
            <td>{{data.average_price | number: "1.2-2"}}</td>
            <td>{{data.current_price | number: "1.2-2"}}</td>
            <td>{{data.total_investment | number: "1.2-2"}}</td>
            <td>{{data.current_value | number: "1.2-2"}}</td>
            <td>
              <div class="holding-item-contents-2">
                <div class="profit-loss">{{data.profit_loss | number: "1.2-2"}}</div>
                <div class="profit-loss-percentage">
                   {{data.profit_change_percentage | number: "1.2-2"}} %
                    <fa-icon [icon]="faCircleUp" [style]="{color: 'red'}"></fa-icon>
                </div>
              </div></td>
            <td>$250,000</td>
        </tr>
        }
      </tbody>
    </table>
</div>
<div class="transaction-add-button">
  <button mat-fab color="primary" (click)="addTransaction()">
    <mat-icon>add</mat-icon>
  </button>
</div>
