@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: -1,
  )
));
@include mat.core();
html {
  @include mat.all-component-themes($theme);
}


