@use "@angular/material" as mat;
@include mat.elevation-classes();
@include mat.app-background();
$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);
html {
  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.all-component-themes($theme);
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;
  @include mat.elevation(2);
}

mat-select {
  font-size: 14px !important;
}

mat-option {
  font-size: 14px !important;
}

.searchbar-wrapper {
  width: 100%;
}

.coincraft-input {
  width: 100%;
  font-size: 14px;
}

.d-flex-align-r {
  display: flex;
  justify-content: flex-end;
}

.d-flex-align-sb {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.d-flex-align-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dis-flex-row-align-c-jus-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.d-flex-col-align-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field-table {
  width: 100%;
  margin-top: 10px;
}

.savings-chip {
  color: #a3f4a3 !important;
  background-color: #a3f4a3 !important;
}

.expense-chip {
  color: #a3f4a3 !important;
  background-color: #81b7f4 !important;
}

.payment-chip {
  color: #a3f4a3 !important;
  background-color: #f38f8f !important;
}

.income-chip {
  color: #a3f4a3 !important;
  background-color: #f38f8f !important;
}
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
