<h2 mat-dialog-title>
  <span *ngIf="data.task === 'add'">Add Transaction</span>
  <span *ngIf="data.task === 'edit'">Edit Transaction</span>
  <span *ngIf="data.task === 'merge'">Merge Transactions</span>
</h2>
<mat-dialog-content>
  <form [formGroup]="transactionForm">
    <table class="expense-field-table">
      <tr>
        <td>
          <mat-form-field appearance="outline" class="fill coincraft-input">
            <mat-label>Account</mat-label>
            <mat-select formControlName="account">
              @for (pm of this.ACCOUNTS; track pm) {
                <mat-option [value]="pm.id">{{ pm.account_name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="coincraft-input">
            <mat-label>Transaction Type</mat-label>
            <mat-select formControlName="transaction_type">
              @for (exc of TRANSACTION_TYPES; track exc) {
                <mat-option [value]="exc.value">
                  {{ exc.viewValue }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="coincraft-input">
            <mat-label>Date</mat-label>
            <input [matDatepicker]="picker" formControlName="date" matInput/>
            <mat-datepicker-toggle
              [for]="picker"
              matIconSuffix
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field appearance="outline" class="coincraft-input">
            <mat-label>Payee</mat-label>
            <input formControlName="destination" matInput placeholder="Payee"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="coincraft-input">
            <mat-label>Amount</mat-label>
            <input formControlName="amount" matInput placeholder="Amount"/>
            <span matTextPrefix>¥&nbsp;</span>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="outline" class="coincraft-input">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              @for (exc of this.transactionCategories; track exc) {
                <mat-option [value]="exc.id">{{ exc.category }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="fill coincraft-input">
            <mat-label>Sub Category</mat-label>
            <mat-select formControlName="subcategory">
              @for (exc of this.transactionSubCategories; track exc) {
                <mat-option [value]="exc.id">{{ exc.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="coincraft-input">
            <mat-label>Payee Alias (English)</mat-label>
            <input formControlName="alias" matInput placeholder="Destination"/>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-divider></mat-divider>
    <div class="additional-info-area">
      <div class="info-area">
        <div class="area-title">
          <span>Rules</span>
        </div>
        <ul class="rules-list">
          <li>
            <mat-checkbox color="primary" formControlName="update_similar"
            >Update all transactions for payee
              {{ transactionForm.get("destination")?.value }}
            </mat-checkbox
            >
          </li>
        </ul>
      </div>
      <div class="info-area">
        <div class="area-title">
          <span>Additional Info</span>
        </div>
        <mat-form-field appearance="outline" class="coincraft-input">
          <mat-label>Notes</mat-label>
          <textarea
            formControlName="notes"
            matInput
            placeholder="Notes"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="expense-form-footer">
  <button (click)="cancel()" mat-dialog-close mat-raised-button>Cancel</button>
  <button (click)="submit()" [disabled]="transactionForm.invalid" color="primary" mat-raised-button>Save</button>
</mat-dialog-actions>
