td {
  padding-right: 8px;
}

.expense-field-table {
  width: 100%;
}
.expense-input {
  width: 100%;
}

.expense-form-footer {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
  border: 1px solid #dddddd;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
