<h2 mat-dialog-title>
  Delete Transaction
  <span>({{ data.formData.id }})</span>
</h2>
<mat-dialog-content>
  <p>Do you want to delete this record?</p>
  <table class="delete-info">
    <tr>
      <th>Description</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Date</td>
      <td>{{ data.formData.date }}</td>
    </tr>
    <tr>
      <td>Amount</td>
      <td>¥{{ data.formData.amount | number: "1.2-2" }}</td>
    </tr>
    <tr>
      <td>Destination</td>
      <td>{{ data.formData.destination }}</td>
    </tr>
    <tr>
      <td>Alias</td>
      <td>{{ data.formData.alias }}</td>
    </tr>
    <tr>
      <td>Delete Reason</td>
      <td>
        <mat-form-field class="coincraft-input">
          <textarea [(ngModel)]="deleteReason" matInput name="deleteReason"></textarea>
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions align="end" class="expense-form-footer">
  <button (click)="cancel()" mat-dialog-close mat-raised-button>Cancel</button>
  <button (click)="confirm()" color="primary" mat-raised-button>Delete</button>
</mat-dialog-actions>
