<h2 mat-dialog-title>
  <span *ngIf="data.task === 'add'">Add Transaction</span>
  <span *ngIf="data.task === 'edit'">Edit Transaction</span>
  <span *ngIf="data.task === 'merge'">Merge Transactions</span>
</h2>
<mat-dialog-content>
  <form [formGroup]="transactionForm">
    <table class="expense-field-table">
      <tr>
        <td>
          <mat-form-field class="fill expense-input" appearance="outline">
            <mat-label>Payment Method</mat-label>
            <mat-select formControlName="payment_method">
              @for (pm of PAYMENT_METHODS; track pm) {
                <mat-option [value]="pm.value">{{ pm.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="expense-input">
            <mat-label>Transaction Type</mat-label>
            <mat-select formControlName="transaction_type">
              @for (exc of TRANSACTION_TYPES; track exc) {
                <mat-option [value]="exc.value">
                  {{ exc.viewValue }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="expense-input">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field appearance="outline" class="expense-input">
            <mat-label>Payee</mat-label>
            <input matInput placeholder="Payee" formControlName="destination" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="expense-input">
            <mat-label>Amount</mat-label>
            <input matInput placeholder="Amount" formControlName="amount" />
            <span matTextPrefix>¥&nbsp;</span>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="outline" class="expense-input">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              @for (exc of TRANSACTION_CATEGORIES; track exc) {
                <mat-option [value]="exc.value">{{ exc.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="fill expense-input">
            <mat-label>Sub Category</mat-label>
            <mat-select formControlName="subcategory">
              @for (exc of EXPENSE_SUB_CATEGORIES; track exc) {
                <mat-option [value]="exc.value">{{ exc.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="expense-input">
            <mat-label>Payee Alias (English)</mat-label>
            <input matInput placeholder="Destination" formControlName="alias" />
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-divider></mat-divider>
    <div class="additional-info-area">
      <div class="info-area">
        <div class="area-title">
          <span>Rules</span>
        </div>
        <ul class="rules-list">
          <li>
            <mat-checkbox color="primary" formControlName="update_similar"
              >Update all transactions for payee
              {{ transactionForm.get("destination")?.value }}</mat-checkbox
            >
          </li>
        </ul>
      </div>
      <div class="info-area">
        <div class="area-title">
          <span>Additional Info</span>
        </div>
        <mat-form-field appearance="outline" class="expense-input">
          <mat-label>Notes</mat-label>
          <textarea
            matInput
            placeholder="Notes"
            formControlName="notes"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="expense-form-footer">
  <button mat-raised-button mat-dialog-close (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="transactionForm.invalid">Save</button>
</mat-dialog-actions>
