<h2 mat-dialog-title>Import Transaction</h2>
<mat-dialog-content>
  @if (!clickSubmit) {
    <mat-stepper #stepper [linear]="true" orientation="vertical">
      <mat-step>
        <div class="step-content">
          <form [formGroup]="accountForm">
            <ng-template matStepLabel>Select Broker & Portfolio</ng-template>
            <mat-form-field appearance="outline" class="coincraft-input">
              <mat-label>Account</mat-label>
              <mat-select formControlName="account">
                @for (exc of myAccounts; track exc) {
                  <mat-option [value]="exc">{{ exc.account_name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="coincraft-input">
              <mat-label>Portfolio</mat-label>
              <mat-select formControlName="portfolio">
                @for (exc of myPortfolios; track exc) {
                  <mat-option [value]="exc">{{ exc.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <div class="step-actions">
              <button color="primary" mat-raised-button matStepperNext>
                Next
              </button>
            </div>
          </form>
        </div>
      </mat-step>
      <mat-step>
        <div class="step-content">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Attach Files</ng-template>
            <div class="upload-contents">
              <div class="upload-category">
                <mat-radio-group formControlName="target">
                  <mat-radio-button value="FOREIGN"
                    >Foreign Stocks</mat-radio-button
                  >
                  <mat-radio-button value="DOMESTIC"
                    >Domestic Stocks</mat-radio-button
                  >
                </mat-radio-group>
              </div>
              <div class="upload-section">
                <div class="upload-box">
                  <label for="file-upload" class="upload-label">
                    <span>Drag & drop your file here or click to upload</span>
                    <input
                      #fileUpload
                      (change)="onChange($event)"
                      class="file-input"
                      id="file-upload"
                      multiple
                      type="file"
                    />
                  </label>
                </div>
                <div id="file-list" class="file-list">
                  <ul>
                    @for (exc of this.files; track exc) {
                      <li>
                        {{ exc.name }}
                        <span (click)="deleteAttachment(exc.name)" class="delete-icon">delete</span>
                      </li>
                    }
                  </ul>
                </div>
              </div>
            </div>

            <div class="step-actions">
              <button mat-raised-button matStepperPrevious>Back</button>
              <button color="primary" mat-raised-button matStepperNext>
                Next
              </button>
            </div>
          </form>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Advanced Settings</ng-template>
        <div class="step-content">
          <mat-form-field class="coincraft-input">
            <mat-label>Date range</mat-label>
            <mat-date-range-input
              [formGroup]="rangeForm"
              [rangePicker]="picker"
            >
              <input
                formControlName="start"
                matStartDate
                placeholder="Start date"
              />
              <input formControlName="end" matEndDate placeholder="End date" />
            </mat-date-range-input>
            <mat-datepicker-toggle
              [for]="picker"
              matIconSuffix
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <div class="step-actions">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button color="primary" mat-raised-button matStepperNext>
              Next
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Review And Import</ng-template>
        <div class="step-content">
          <dl>
            <dt>Broker Account:</dt>
            <dd>{{ selectedAccountName }}</dd>
            <dt>Portfolio:</dt>
            <dd>{{ selectedPortfolio }}</dd>
          </dl>
          <dl>
            <dt>Category:</dt>
            <dd>{{ selectedTargetName }}</dd>
            <dt>Files:</dt>
            @for (exc of this.files; track exc) {
              <dd>{{ exc.name }}</dd>
            }
          </dl>
          <dl>
            <dt>Date range:</dt>
            <dd>{{ importFirstDate }} - {{ importLastDate }}</dd>
          </dl>
        </div>
        <div class="step-actions">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button
            (click)="import()"
            [disabled]="!isValidToSubmit()"
            color="primary"
            mat-raised-button
          >
            Import
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  }

  @if (clickSubmit) {
    <div class="step-content">
      <mat-card appearance="outlined">
        <mat-card-content>
          <div class="importing-steps">
            @if (progress == 100 && uploadComplete) {
              <div class="callout-panel">
                <p>Finished import. You can close the dialog.</p>
              </div>
            }
            <div class="step">
              <div class="step-status">
                @if (progress < 100) {
                  <mat-spinner [diameter]="20"></mat-spinner>
                }
                @if (progress == 100) {
                  <mat-icon class="success-class">check_circle</mat-icon>
                }
              </div>
              <div class="step-name">Uploading files ({{ progress }}%).</div>
            </div>
            <div class="step">
              <div class="step-status">
                @if (!uploadComplete) {
                  <mat-spinner [diameter]="20"></mat-spinner>
                }
                @if (uploadComplete) {
                  <mat-icon class="success-class">check_circle</mat-icon>
                }
              </div>
              <div class="step-name">Syncing purchases.</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  @if (!clickSubmit) {
    <button (click)="cancel()" mat-dialog-close mat-raised-button>
      Cancel
    </button>
  }
  @if (uploadComplete && progress == 100) {
    <button
      (click)="close()"
      mat-dialog-close
      mat-raised-button
      color="primary"
    >
      Close
    </button>
  }
</mat-dialog-actions>
