<div class="filter-toolbar">
  <div class="filter-toolbar-left">
    <h2 class="filter-bar-title">Transaction Activity</h2>
  </div>
  <div class="filter-toolbar-right">
    <div class="merge-panel">
      <div class="merge-item">
        <button mat-raised-button color="primary" matBadgePosition="before" matBadge="7" matBadgeColor="accent">
          Merge
        </button>
      </div>
      <div class="merge-item filter-item" matRipple>
        <fa-icon
          [icon]="faPencil"
          size="1x"
          [style]="{ color: '#4a4949' }"
        ></fa-icon>
      </div>
      <div class="merge-item filter-item" matRipple>
        <fa-icon
          [icon]="faTrash"
          size="1x"
          [style]="{ color: '#af5252' }"
        ></fa-icon>
      </div>
    </div>
    <div #filterButton class="filter-item" matRipple (click)="openFilters()" [ngClass]="hiddenFilterBadge ? '': 'filter-enabled'">
      <fa-icon
        [icon]="faFilter"
        size="1x"
        [style]="{ color: '#4a4949' }"
      ></fa-icon>
    </div>
    <div class="filter-item" matRipple>
      <fa-icon
        [icon]="faUpload"
        size="1x"
        [style]="{ color: '#4a4949' }"
      ></fa-icon>
    </div>
    <div class="filter-item" (click)="addTransaction()" matRipple>
      <fa-icon
        [icon]="faCirclePlus"
        size="1x"
        [style]="{ color: '#4a4949' }"
      ></fa-icon>
    </div>
  </div>
</div>

<ng-container>
  <mat-accordion multi="true" class="transaction-item-panel">
    @for (data of transactionData; track data;) {
      <app-transaction-table [transactions]="data"></app-transaction-table>
    }
  </mat-accordion>

</ng-container>
